html, body * {
    background-color: #444444;
    color: #e1e1e1;
    max-width: 1100px;
    margin: auto;
}
ul.links li {
    list-style-type: none;
    list-style-image: none;
    color: #9C1A1C;
    border: solid #11557C;
    padding: 5px;
    max-height: 100px;
    margin: 10px;
}

div.lpoints {
    color: #00cc00;
    display: inline;
    width: 30px;
    float: left;
    margin: 0px;
    border-color: whitesmoke;
    border-style: solid;
    border-width: 2px;
    text-align: center;
    font-weight: bold;
    margin-right: 10px;
}
.link_title {
    float: left;
    clear: right;
}
.link_desc {
    clear: both;
}
header ul {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    list-style-image: none;
}
header a {
    float: center;
    width: 6em;
    text-decoration: none;
    color: white;
    background-color: purple;
    padding: 0.2em 0.6em;
    border-right: 1px solid white;
    list-style-type: none;
    list-style-image: none;
}

header li {
    display: inline;
}

img {
    display: inline-block;
}

#user_site a {
    float: center;
    width: 6em;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 0.2em 0.6em;
    border-right: 1px solid white;
    list-style-type: none;
    list-style-image: none;
}

#user_site li {
    display: inline;
}
