{% extends "layout.html" %}
{% block body %}
<div class="col-md-8">
    <ul>
        {% for l in links %}
            <li>{{l.content}} {{l.date}}</li>
        {% endfor %}
    </ul>
</div>
<div class="col-md-8 new-link">
    <h4>Dodawanie linku</h4>
    <br />
    Tytuł:
    <input type="text" class="form-control">
    </input>
    <br />
    Link:
    <input type="text" class="form-control">
    <br />
    Opis:
    <input type="text" class="form-control">
    <br />
    <input class="btn btn-default" type="submit" value="Opublikuj!">
</div>
{% endblock %}