<!doctype html>
<html lang=pl>
<title>HopSiup</title>
<meta charset=utf-8>
<meta name="viewport" content="width=device-width, initial-scale=1">
{% assets "css_all" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"></script>
{% endassets %}
<link rel=stylesheet type=text/css href="/static/css/main.css">
<main>
{% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% include 'menu.html' %}
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
<div class="container-fluid">
{% include 'footer.html' %}
</div>
</main>
</html>
