<nav class="navbar navbar-default navbar-fixed-top">
<div class="container menu-bar">
    <div class="navbar-header">
        <a class="navbar-brand" href="{{ url_for('show_main') }}">HopSiup</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
        <li><a href="{{ url_for('show_waiting') }}">Poczekalnia</a></li>
        <li><a href="{{ url_for('show_blog') }}">Mikroblog</a></li>
        <li><a href="{{ url_for('ranking') }}">Ranking</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if not session.logged_in %}
                <li> <a href="{{ url_for('login') }}">Zaloguj się!</a> </li>
                <li> <a href="{{ url_for('register') }}">Zarejestruj się!</a> </li>
            {% else %}
                <li><a href="{{ url_for('user_account') }}">Moje konto</a> </li>
                <li><a href="{{ url_for('add_link') }}">Dodaj link</a> </li>
                <li><a href="{{ url_for('messages') }}">
                <span class="glyphicon glyphicon-envelope" style="font-size: 18px" aria-hidden="true"></span>
                </a></li>
                <li> <a href="{{ url_for('logout') }}">Wyloguj się!</a> </li>
            {% endif %}
        </ul>
    </div><!--/.nav-collapse
    -->
</div>
</nav>
