{% extends "layout.html" %}
{% block body %}
  <div id="session">
  {% if session.logged_in %}
    <form action="{{ url_for('add_link') }}" method=post class=add-entry>
      <dl>
        <dt>Tytył:
        <dd><input type=text size=30 name=title>
        <dt>Tekst:
        <dd><textarea name=text rows=5 cols=40></textarea>
        <dd><input type=submit value=Share>
      </dl>
    </form>
  {% endif %}
  </div>
    <ul class="links">
    {% for link in links %}
        <li>
            <button type="button">
                <img src="../static/css/up.png" width="70%" height="70%" />
            </button>
            <button type="button">
                <img src="../static/css/down.png" width="70%" height="70%" />
            </button>
            <div class="lpoints">{{ link.points }}</div>
            <a href="l/{{link.id}}">{{link.title}} </a> dodany przez<a href="u/{{link.user_url}}"> {{link.user}}</a>
            <p>{{ link.desc }}</p>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
