{% extends "layout.html" %}
{% block body %}
  <div id="session">
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Title:
        <dd><input type=text size=30 name=title>
        <dt>Text:
        <dd><textarea name=text rows=5 cols=40></textarea>
        <dd><input type=submit value=Share>
      </dl>
    </form>
  {% endif %}
  </div>
    <ul class="links">
    {% for link in links %}
        <li>
            <a href "{{link.url}}">{{link.title}} </a> dodany przez<a href="{{link.user_url}}>"> {{link.user}}</a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
