{% extends "layout.html" %}
{% block body %}
<div class="col-md-8">
    <ul>
        {% for p in posts %}
            <li>{{p.content}} {{p.date}}</li>
        {% endfor %}
    </ul>
</div>
    <div id="session">
    {% if session.logged_in %}
    <form action="{{ url_for('show_blog') }}" method=post>
          <div class="form-group">
              <label for="content"></label>
              <input type="text" class="form-control" id="content" name="content">
          </div>
        <input class="btn btn-default" type="submit" value="Opublikuj!">
    </form>
   {% endif %}
   </div>
{% endblock %}