{% extends "layout.html" %}
{% block body %}
<div id="session">
{% if session.logged_in %}
    <form action="{{ url_for('show_blog') }}" method=post>
          <div class="form-group">
              <label for="content"></label>
              <input type="text" class="form-control" id="content" name="content">
          </div>
        <input class="btn btn-default" type="submit" value="Opublikuj!">
    </form>
{% endif %}
</div>
<br />
<div class="col-md-8">
    <ul class="posts">
    {% for post in posts %}
        <li>
            <a href="p/{{post.id}}"> Wpis </a> dodany przez<a href="u/{{post.user_url}}"> {{post.user}}</a>
            <p>{{ post.content }}</p>
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}