{% extends "layout.html" %}
{% block body %}
    <center>
        <h2> Twoje konto </h2>
    </center>
        <div id="user_site" align="center">
            <li>
                 <a href="{{ url_for('user_articles_stat') }}">Artykuły</a>
            </li>
            <li>
                 <a href="{{ url_for('user_blog_stat') }}">Wpisy</a>
            </li>
            <li>
                 <a href="{{ url_for('user_social_stat') }}">Społeczność</a>
            </li>
        </div>
{% endblock %}
