{% extends "layout.html" %}
{% block body %}
    <center>
        <h2> Twoje konto </h2>
    </center>
        <div id="user_site">
            <li>
                 <a href="{{ url_for('show_main') }}">Twoje artykuły</a>
            </li>
            <li>
                 <a href="{{ url_for('show_main') }}">Twoje wpisy</a>
            </li>
            <li>
                 <a href="{{ url_for('show_main') }}">Twoje komentarze do artykułów</a>
            </li>
            <li>
                 <a href="{{ url_for('show_main') }}">Twoje komentarze do wpisów</a>
            </li>
            <li>
                 <a href="{{ url_for('show_main') }}">Zaplusowane wpisy</a>
            </li>
            <li>
                 <a href="{{ url_for('show_main') }}">Zaplusowane artykuły</a>
            </li>
        </div>
{% endblock %}
